In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("classification_in_asteroseismology.csv")
df

      POP       Dnu      numax  epsilon
0       1   4.44780   43.06289    0.985
1       0   6.94399   74.07646    0.150
2       1   2.64571   21.57891    0.855
3       1   4.24168   32.13189    0.840
4       0  10.44719  120.37356    0.275
...   ...       ...        ...      ...
996     0   5.51582   49.99920    0.060
997     1   4.14823   32.09069    0.930
998     1   3.98294   30.90257    0.880
999     1   4.33893   45.62183    0.975
1000    1   3.74869   37.94907    0.205

[1001 rows x 4 columns]

In [2]:
df.shape

(1001, 4)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   POP      1001 non-null   int64
 1   Dnu      1001 non-null   float64
 2   numax    1001 non-null   float64
 3   epsilon  1001 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 31.3 KB

In [4]:
df.isnull().sum()

POP        0
Dnu        0
numax      0
epsilon    0
dtype: int64

In [5]:
df.describe()

               POP          Dnu        numax      epsilon
count  1001.000000  1001.000000  1001.000000  1001.000000
mean      0.712288     5.774810    58.441771     0.610774
std       0.452923     2.998103    43.425561     0.342518
min       0.000000     2.500080    17.979780     0.005000
25%       0.000000     4.073160    32.924350     0.220000
50%       1.000000     4.308740    38.293160     0.815000
75%       1.000000     6.580340    70.140830     0.890000
max       1.000000    17.699430   239.648480     1.000000

In [6]:
Features = df.iloc[:, 1:].values
Labels = df.iloc[:,-4].values

In [7]:
from sklearn.feature_selection import SelectKBest, f_classif, chi2

for i in range(1,len(df.columns)-1):
    sele=SelectKBest(chi2,k=i)
    c=sele.fit_transform(Features,Labels)
print(c)

[[ 4.4478  43.06289]
 [ 6.94399 74.07646]
 [ 2.64571 21.57891]
 ...
 [ 3.98294 30.90257]
 [ 4.33893 45.62183]
 [ 3.74869 37.94907]]

In [8]:
sk = SelectKBest(chi2, k=2)
Features_best = sk.fit_transform(Features, Labels)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(Features_best, Labels,test_size=0.2)

In [10]:
from sklearn.ensemble import BaggingClassifier
bc=BaggingClassifier()

In [11]:
bc.fit(X_train,Y_train)

BaggingClassifier()

In [12]:
Y_pred=bc.predict(X_test)
Y_pred

array([0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score,classification_report

print(accuracy_score(Y_pred,Y_test))
print(classification_report(Y_pred,Y_test))

0.9502487562189055
              precision    recall  f1-score   support

           0       1.00      0.82      0.90        57
           1       0.94      1.00      0.97       144

    accuracy                           0.95       201
   macro avg       0.97      0.91      0.94       201
weighted avg       0.95      0.95      0.95       201