In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv("balance-scale.csv")
df

    Class  L-Weight  L-Distance  R-Weight  R-Distance
0       B         1           1         1           1
1       R         1           1         1           2
2       R         1           1         1           3
3       R         1           1         1           4
4       R         1           1         1           5
..    ...       ...         ...       ...         ...
620     L         5           5         5           1
621     L         5           5         5           2
622     L         5           5         5           3
623     L         5           5         5           4
624     B         5           5         5           5

[625 rows x 5 columns]

In [2]:
df.shape

(625, 5)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Class       625 non-null    object
 1   L-Weight    625 non-null    int64
 2   L-Distance  625 non-null    int64
 3   R-Weight    625 non-null    int64
 4   R-Distance  625 non-null    int64
dtypes: int64(4), object(1)
memory usage: 22.0+ KB

In [4]:
df.isnull().sum()

Class         0
L-Weight      0
L-Distance    0
R-Weight      0
R-Distance    0
dtype: int64

In [5]:
df.describe()

         L-Weight  L-Distance    R-Weight  R-Distance
count  625.000000  625.000000  625.000000  625.000000
mean     3.000000    3.000000    3.000000    3.000000
std      1.415346    1.415346    1.415346    1.415346
min      1.000000    1.000000    1.000000    1.000000
25%      2.000000    2.000000    2.000000    2.000000
50%      3.000000    3.000000    3.000000    3.000000
75%      4.000000    4.000000    4.000000    4.000000
max      5.000000    5.000000    5.000000    5.000000

In [6]:
from sklearn.preprocessing import OrdinalEncoder
ord_enc = OrdinalEncoder()
df["Class"] = ord_enc.fit_transform(df[["Class"]])

In [7]:
features=df.iloc[:,1:]
label=df.iloc[:,-5]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(features,label,test_size=.3,random_state=0)

In [9]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()

In [10]:
dtr.fit(x_train,y_train)

DecisionTreeRegressor()

In [11]:

y_pred=dtr.predict(x_test)

# Error finding

In [12]:
from sklearn.metrics import mean_squared_error,r2_score
mean_squared_error(y_pred,y_test)

0.5

In [13]:
r2_score(y_pred,y_test)

-0.04321133412042499