# Feature Selection-Dropping Constant Features

In this step we will be removing the features which have constant features which are actually not important for solving the problem.

In [1]:
#importing all the required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('train.csv',nrows=10000)
df.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [3]:
df.shape

(10000, 371)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Columns: 371 entries, ID to TARGET
dtypes: float64(89), int64(282)
memory usage: 28.3 MB

In [5]:
df.columns

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

In [6]:
df.isnull().sum()

ID                         0
var3                       0
var15                      0
imp_ent_var16_ult1         0
imp_op_var39_comer_ult1    0
                          ..
saldo_medio_var44_hace3    0
saldo_medio_var44_ult1     0
saldo_medio_var44_ult3     0
var38                      0
TARGET                     0
Length: 371, dtype: int64

In [8]:
df.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000
mean,10037.371400,-697.290500,33.286200,103.577532,74.301786,127.464021,6.700176,11.824926,0.609000,0.924000,...,3.377190,1.270416,3.806706,3.011112,15.324084,2.714991,27.227514,20.009280,1.169056e+05,0.038800
std,5814.748024,26449.620836,12.946129,2373.057243,342.390527,579.622179,149.285046,239.343336,28.580077,41.718824,...,210.980982,80.382604,221.976668,168.737633,600.931851,196.281397,874.238934,649.869051,1.589653e+05,0.193128
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.048518e+04,0.000000
25%,5011.500000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.767771e+04,0.000000
50%,9987.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.068753e+05,0.000000
75%,15026.250000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.201209e+05,0.000000
max,20074.000000,235.000000,102.000000,210000.000000,7904.220000,15182.460000,7904.220000,11073.570000,1800.000000,3000.000000,...,15265.950000,6643.290000,15458.220000,11959.170000,44990.490000,18928.590000,47617.080000,36988.200000,9.055272e+06,1.000000

In [10]:
#Input and output dataset
y=df['TARGET']
X=df.drop(labels=['TARGET'],axis=1)

## Train Test Split

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

### Data Preprocessing on Training data

In [12]:
# scaling the numerical features
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# column names are (annoyingly) lost after Scaling
# (i.e. the dataframe is converted to a numpy ndarray)

X_train_rescaled = pd.DataFrame(scaler.fit_transform(X_train), 
                                    columns = X_train.columns, 
                                    index = X_train.index)

X_train_rescaled.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
2967,-0.703132,0.019971,-0.265143,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.314183
700,-1.479985,0.019971,1.578904,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.355206
3481,-0.524835,0.019971,-0.802991,-0.042573,2.305689,1.256114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,1.409843
1621,-1.170754,0.019971,0.656881,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,0.600433
800,-1.448239,0.019971,0.042198,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.216076

### Preprocessing For Test data

In [13]:
X_test_rescaled = pd.DataFrame(scaler.transform(X_test), 
                                   columns = X_test.columns, 
                                   index = X_test.index)

X_test_rescaled.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
9394,1.518116,0.019971,-0.802991,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.238919
898,-1.417007,0.019971,3.499788,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.336870
2398,-0.897388,0.019971,0.349539,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.000527
5906,0.312080,0.019971,1.117892,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.377580
2343,-0.916093,0.019971,-0.802991,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.416138

## Feature Selection

### Variance Threshold

Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

In [14]:
### It will zero variance features
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(X_train_rescaled)

VarianceThreshold(threshold=0)

In [15]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False, False,  True,
        True,  True,  True,  True, False, False,  True, False,  True,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True, False,  True, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False,  True, False, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True, False, False, False,  True, False, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True,  True,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [16]:
# Lets Find non-constant features 
len(X_train_rescaled.columns[var_thres.get_support()])

284

In [17]:
# Non constant features
X_train_rescaled.columns[var_thres.get_support()]

Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var29_ult3', 'saldo_medio_var33_hace2',
       'saldo_medio_var33_hace3', 'saldo_medio_var33_ult1',
       'saldo_medio_var33_ult3', 'saldo_medio_var44_hace2',
       'saldo_medio_var44_hace3', 'saldo_medio_var44_ult1',
       'saldo_medio_var44_ult3', 'var38'],
      dtype='object', length=284)

In [18]:
# Lets Find constant features 

constant_columns = [column for column in X_train_rescaled.columns
                    if column not in X_train_rescaled.columns[var_thres.get_support()]]

print(len(constant_columns))

86

In [19]:
# constant features which we remove
for column in constant_columns:
    print(column)

ind_var2_0
ind_var2
ind_var13_medio_0
ind_var13_medio
ind_var18_0
ind_var18
ind_var27_0
ind_var28_0
ind_var28
ind_var27
ind_var34_0
ind_var34
ind_var41
ind_var46_0
ind_var46
num_var13_medio_0
num_var13_medio
num_var18_0
num_var18
num_var27_0
num_var28_0
num_var28
num_var27
num_var34_0
num_var34
num_var41
num_var46_0
num_var46
saldo_var13_medio
saldo_var18
saldo_var28
saldo_var27
saldo_var34
saldo_var41
saldo_var46
delta_imp_amort_var18_1y3
delta_imp_amort_var34_1y3
delta_imp_reemb_var17_1y3
delta_imp_reemb_var33_1y3
delta_imp_trasp_var17_out_1y3
delta_imp_trasp_var33_out_1y3
delta_num_reemb_var17_1y3
delta_num_reemb_var33_1y3
delta_num_trasp_var17_out_1y3
delta_num_trasp_var33_out_1y3
imp_amort_var18_hace3
imp_amort_var18_ult1
imp_amort_var34_hace3
imp_amort_var34_ult1
imp_var7_emit_ult1
imp_reemb_var13_hace3
imp_reemb_var17_hace3
imp_reemb_var17_ult1
imp_reemb_var33_hace3
imp_reemb_var33_ult1
imp_trasp_var17_in_hace3
imp_trasp_var17_out_hace3
imp_trasp_var17_out_ult1
imp_trasp_var33_in_hace3
imp_trasp_var33_out_hace3
imp_trasp_var33_out_ult1
imp_venta_var44_hace3
ind_var7_emit_ult1
num_var2_0_ult1
num_var2_ult1
num_var7_emit_ult1
num_meses_var13_medio_ult3
num_reemb_var13_hace3
num_reemb_var17_hace3
num_reemb_var17_ult1
num_reemb_var33_hace3
num_reemb_var33_ult1
num_trasp_var17_in_hace3
num_trasp_var17_out_hace3
num_trasp_var17_out_ult1
num_trasp_var33_in_hace3
num_trasp_var33_out_hace3
num_trasp_var33_out_ult1
num_venta_var44_hace3
saldo_var2_ult1
saldo_medio_var13_medio_hace2
saldo_medio_var13_medio_hace3
saldo_medio_var13_medio_ult1
saldo_medio_var13_medio_ult3
saldo_medio_var29_hace2
saldo_medio_var29_hace3

In [20]:
X_train_new=X_train_rescaled.drop(constant_columns,axis=1)

In [21]:
X_test_new=X_test_rescaled.drop(constant_columns,axis=1)

In [22]:
X_test_new.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
9394,1.518116,0.019971,-0.802991,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.238919
898,-1.417007,0.019971,3.499788,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.336870
2398,-0.897388,0.019971,0.349539,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.000527
5906,0.312080,0.019971,1.117892,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.377580
2343,-0.916093,0.019971,-0.802991,-0.042573,-0.218423,-0.220114,-0.046464,-0.051247,-0.019468,-0.022283,...,-0.011548,-0.018485,-0.018251,-0.019497,-0.020207,-0.026627,-0.015747,-0.031339,-0.031278,-0.416138

In [23]:
X_test_new.shape

(2500, 284)

In [24]:
from sklearn.neighbors import KNeighborsRegressor
knn_reg = KNeighborsRegressor()
knn_reg.fit(X_train_new, y_train)

KNeighborsRegressor()

In [25]:
y_test_pred = knn_reg.predict(X_test_new)

In [26]:
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(y_test, y_test_pred))

print('Mean Squared Error: ', metrics.mean_squared_error(y_test, y_test_pred))

print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(y_test, y_test_pred)))

Mean Absolute Error:  0.0664
Mean Squared Error:  0.039776000000000006
Root Mean Squared Error:  0.19943921379708657